---
Language:                                       Java
AlignAfterOpenBracket:                          true
AlignConsecutiveAssignments:                    false
AlignConsecutiveDeclarations:                   false
AlignEscapedNewlinesLeft:                       false
AlignOperands:                                  false
AlignTrailingComments:                          true
AllowAllParametersOfDeclarationOnNextLine:      true
AllowShortBlocksOnASingleLine:                  false
AllowShortCaseLabelsOnASingleLine:              false
AllowShortFunctionsOnASingleLine:               false
AllowShortIfStatementsOnASingleLine:            false
AllowShortLoopsOnASingleLine:                   false
AlwaysBreakAfterDefinitionReturnType:           None
AlwaysBreakAfterReturnType:                     None
AlwaysBreakBeforeMultilineStrings:              true
BinPackArguments:                               true
BinPackParameters:                              true
BreakAfterJavaFieldAnnotations:                 true
BreakBeforeBinaryOperators:                     NonAssignment
BreakBeforeBraces:                              Attach
BreakBeforeTernaryOperators:                    false
ColumnLimit:                                    100
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ContinuationIndentWidth:                        4
IndentWidth:                                    4
IndentWrappedFunctionNames:                     false
KeepEmptyLinesAtTheStartOfBlocks:               false
SpaceAfterCStyleCast:                           true
SpaceBeforeAssignmentOperators:                 true
SpaceBeforeParens:                              Never
SpaceInEmptyParentheses:                        false
SpacesBeforeTrailingComments:                   0
SpacesInAngles:                                 false
SpacesInCStyleCastParentheses:                  false
SpacesInParentheses:                            false
SpacesInSquareBrackets:                         false
TabWidth:                                       4
UseTab:                                         Never
...
